
@sec1BG: #669dbd;
@sec2BG: #695f4f;
@sec3BG: #d59735;
@sec4BG: #3b3b3b;

@font-face {
    font-family: 'sf_wonder_comicregular';
    src: url('../fonts/sf_wonder_comic-webfont.eot');
    src: url('../fonts/sf_wonder_comic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic-webfont.woff2') format('woff2'),
         url('../fonts/sf_wonder_comic-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic-webfont.svg#sf_wonder_comicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.scale-transform(@x: 1; @y: 1) {
  -webkit-transform: scale(@x, @y);
  -moz-transform: scale(@x, @y);
  -o-transform: scale(@x, @y);
  -ms-transform: scale(@x, @y);
  transform: scale(@x, @y);
}

.origin-transform(@x: center; @y: center){
  -webkit-transform-origin: @x @y;
      -ms-transform-origin: @x @y;
          transform-origin: @x @y;
}

.animation(@name; @time; @ease; @infinite){
  -webkit-animation: @name @time @ease @infinite;
  -moz-animation: @name @time @ease @infinite;
  -o-animation: @name @time @ease @infinite;
  -ms-animation: @name @time @ease @infinite;
  animation: @name @time @ease @infinite;
}

html, body {
  overflow-x:hidden;
}

body {
  font: 14px "sf_wonder_comicregular", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 0;
  overflow-y:hidden;
}

a {
  color: #fff;
  cursor: pointer;
}

.social-links {

  a {
    background: url('../images/icons.png') no-repeat;
    width: 100px;
    height: 100px;
    display: inline-block;

    &.FB-link {
      background-position: 0 0;
    }

    &.TW-link {
      background-position: -100px 0;
    }
  }

}

.container {
  width: 100%;
}

.section {
  width: 100%;
  min-height: 150px;

  .content {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
  }

  &.section-top {
    background: url('../images/bg_sky.png') center;
    position: relative;
    display: table;    

    .sky {
      background: url('../images/big_bgs.png') center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      height: 100%;
      z-index: 2;
    }

    .clouds {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      height: 100%;
      z-index: 3;

      .cloud {
        position: absolute;

        width: 200px;
        height: 100px;
        background: url('../images/clouds.png') no-repeat;

        &.t1, &.t3 {
          background-position: 0 0;
        }

        &.t2, &.t4 {
          background-position: -200px 0;
        }

        &.t1 {
          .animation(moveclouds; 15s; linear; infinite);
          top: 0;
        }

        &.t2 {
          .animation(moveclouds; 20s; linear; infinite);
          top: 20%;

          .scale-transform(0.8, 0.8);
        }

        &.t3 {
          .animation(moveclouds; 25s; linear; infinite);
          top: 40%;

          .scale-transform(0.6, -0.6);
        }

        &.t4 {
          .animation(moveclouds; 30s; linear; infinite);
          top: 50%;

          .scale-transform(0.4, -0.4);
        }
      }
    }

    .content {
      position: relative;
      min-height: 450px;

      .logo {
        position: absolute;
        width: 100%;
        z-index: 100;

        img {
          width: 100%;
          max-width: 640px;
          margin: 0 auto;
          display: block;
        }
      }

      .grass {
        position: absolute;
        width: 100px;
        height: 110px;
        background: url('../images/clouds.png') no-repeat;
        background-position: -400px 0;

        &.t1 {
          top: 40%;
          right: 0;

          .animation(floatingcloud; 3s; ease-in-out; infinite);
        }

        &.t2 {
          top: 75%;
          left: 0;

          .animation(floatingcloud; 3s; ease-in-out; infinite);
          .scale-transform(0.7, 0.7);
        }
      }     
    }

    .ground {
      width: 100%;
      height: 460px;
      position: relative;
      margin-top: -15%;

      .content{
        height: auto;
        height: 100%;
        z-index: 6;
        position: relative;

        .social-links {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 150;
        }

        .arrow {
          position: absolute;
          width: 100%;
          bottom: 0;
          display: block;
          z-index: 101; /*in front of logo*/

          a {
            background: url('../images/icons.png') no-repeat;
            background-position: -200px 0;
            
            width: 120px;
            height: 100px;
            margin: 0 auto;
            display: block;
          }
        }

        .sheep, .sheep .eyes, .sheep .gun,
        .cow, .cow .eyes {
          position: absolute;
          background: url('../images/animals.png') no-repeat;
        }

        .sheep {
          position: absolute;
          bottom: 0;
          right: 0;

          background-position: 0 0;
          width: 215px;
          height: 150px;
          z-index: 11;

          .eyes {
            background-position: -285px -100px;
            width: 40px;
            height: 25px;
            top: 53px;
            left: 13px;

            .animation(sheepblink; 5s; steps(1); infinite);
          }

          .gun {
            background: url('../images/gun.png') no-repeat;

            width: 120px;
            height: 75px;
            top: 35px;
            right: 18px;

            .animation(sheepgun; 0.5s; steps(4); infinite);
          }
        }

        .cow {
          position: absolute;
          bottom: 15%;
          left: 15%;

          background-position: -215px 0;
          width: 140px;
          height: 90px;
          z-index: 10;

          .eyes {
            background-position: -240px -100px;
            width: 30px;
            height: 20px;
            top: 20px;
            right: 13px;

            .animation(cowblink; 4.5s; steps(1); infinite);
          }
        }
        
        .social-links,
        .cow {
          .origin-transform(left; bottom);
        }

        .sheep {
          .origin-transform(right; bottom);
        }
      }

      div.bg {
        background: url('../images/big_bgs_floor.png') repeat-x center;
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: auto;
        height: 100%;
        z-index: 5;
      }
    }
  }

  &.section-media {
    background: @sec2BG;
    padding: 20px 0 0 0;
    margin: 0;
    /*min-height: 600px;*/

    .content {
      position: relative;
      display: table;
      padding-bottom: 40px;

      iframe {
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
        display: block;
        padding-top: 50px;
      }
    }
  }

  &.section-links {
    background: @sec3BG url('../images/getitnow_bg.png') no-repeat;
    background-position: top center;
    background-size: 100%;
    border-top: solid 10px #fff;
    min-height: 600px;

    .content {
      position: relative;
      display: table;
      
      h2 {
        position: absolute;
        font-size: 100px;
        margin: 0;

        &.front {
          color: #fff;
          left: 0;
          top: 0;
          z-index: 2;
        }

        &.back {
          left: 5px;
          top: 5px;
          color: #000;
          z-index: 1;
        }
      }

    }
  }

  &.section-footer {
    background: @sec4BG;
    border-top: solid 10px #5d5d5d;

    .content {
      display: table;
      padding-top: 30px;

      .press-kit{
        float: left;
        text-align: center;
        font-size: 40px;
        width: 250px;

        h3 {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }

      .psychonull-logo {
        float: left;
        width: 450px;
        height: 100px;

        div {
          margin: 0;
          background: url('../images/icons.png') no-repeat;
          background-position: -320px 0;
              
          width: 350px;
          height: 100px;
          margin: 0 auto;
          display: block;
        }
      }

      .social {
        width: 100%;
        float: right;
        max-width: 210px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 950px), only screen and (max-device-width: 950px) {

  .section {

    &.section-links {
      background-size: 120%;
      min-height: 400px;

      .content {
        h2 {
          font-size: 80px;
        }
      }
    }

    &.section-footer {
      
      .content {
        padding-top: 10px;

        .press-kit {
          width: 100%;
          float: inherit;
        }

        .psychonull-logo {
          width: 100%;
          float: inherit; 
        }

        .social {
          width: 100%;
          float: inherit;  
        }
        
      }
    }
  }

}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

  .section {

    &.section-top {
      .content {

        .grass {
         
          &.t1 {
            top: 30%;
          }

          &.t2 {
            top: 65%;
          }
        }


      }

      .ground {
        margin-top: -30%;
      
        .content{
          
          .social-links,
          .arrow,
          .sheep,
          .cow {
            .scale-transform(0.7, 0.7);
          }

        }
        
      }


    }

    &.section-media {

      .content {

      }
    }

    &.section-links {
      background-size: 150%;

      .content {
        h2 {
          font-size: 60px;
        }
      }
    }
/*
    &.section-footer {
      
      .content {
      
      }
    }
*/
  }

}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

  .section {

    &.section-top {
      .content {

        .grass {
         
          &.t1 {
            display: none;
          }

          &.t2 {
            top: 40%;
            left: 5%;
          }
        }
      }

      .ground {
        margin-top: -70%;

        .content{
          .arrow,
          .sheep,
          .social-links,
          .cow {
            .scale-transform(0.5, 0.5);
          }

        }
        
      }
    }

    &.section-media {
      .content {

      }
    }

    &.section-links {
      background-size: 150%;

      .content {
        h2 {
          font-size: 50px;
        }

      }
    }
/*
    &.section-footer {
      
      .content {
        
      }
    }
*/
  }
}

@media only screen and (max-width: 350px), only screen and (max-device-width: 350px) {

   .section {

    &.section-top {

      .ground {
        margin-top: -150%;
      }
    }

    &.section-footer {
      
      .content {

        .psychonull-logo {
          max-width: 300px;
          .scale-transform(0.85, 0.85);
          .origin-transform(left, center);
        }
      }
    }
  }
}


/************** ANIMATE CSS - ADDONS ******************/

@-webkit-keyframes tada2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
            transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 1deg);
            transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 1deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -1deg);
            transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
            transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 1deg);
            transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 1deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -1deg);
            transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.tada2 {
  -webkit-animation-name: tada2;
          animation-name: tada2;
}

/**** Clouds Animations ****/

@-webkit-keyframes moveclouds {
  0% {left: -20%;}
  100% {left: 100%;}
}

@-moz-keyframes moveclouds {
  0% {left: -20%;}
  100% {left: 100%;}
}

@keyframes moveclouds {
  0% {left: -20%;}
  100% {left: 100%;}
}

@-webkit-keyframes floatingcloud {
  0% {margin-top: 0px;}
  50% {margin-top: 20px;}
  100% {margin-top: 0px;}
}

@-moz-keyframes floatingcloud {
  0% {margin-top: 0px;}
  50% {margin-top: 20px;}
  100% {margin-top: 0px;}
}

@keyframes floatingcloud {
  0% {margin-top: 0px;}
  50% {margin-top: 20px;}
  100% {margin-top: 0px;}
}

@-webkit-keyframes sheepblink {
  0% { background-position: -285px -125px; }
  2% { background-position: -285px -100px; }
}

@-moz-keyframes sheepblink {
  0% { background-position: -285px -125px; }
  2% { background-position: -285px -100px; }
}

@keyframes sheepblink {
  0% { background-position: -285px -125px; }
  2% { background-position: -285px -100px; }
}

@-webkit-keyframes cowblink {
  0% { background-position: -240px -120px; }
  2% { background-position: -240px -100px; }
}

@-moz-keyframes cowblink {
  0% { background-position: -240px -120px; }
  2% { background-position: -240px -100px; }
}

@keyframes cowblink {
  0% { background-position: -240px -120px; }
  2% { background-position: -240px -100px; }
}

@-webkit-keyframes sheepgun {
  100% { background-position: -480px; }
}

@-moz-keyframes sheepgun {
  100% { background-position: -480px; }
}

@keyframes sheepgun {
  100% { background-position: -480px; }
}
